@model RecipesViewModel
@{
    ViewData["Title"] = "Elasticsearch Recipes";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Search for delicious dishes!</p>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" name="query" placeholder="What's your favorite?" value="@Model.Query"/>
                </div>
                <div class="form-group">
                    <label for="preptime">Prep time</label>
                    <select id="preptime" name="preptime" asp-for="PrepTime" asp-items="Model.PrepTimeListItems">
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Prep time</th>
                    <th scope="col">Ingredients</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var recipe in Model.Recipes)
                {
                    <tr>
                        <td><a asp-action="Detail" asp-route-id="@recipe.Id">@recipe.Title</a></td>
                        <td>@recipe.PreparationTimeMinutes mins</td>
                        <td>@recipe.Ingredients?.Count()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
